.loadingscreen
{
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loadinglogo
{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 5px solid #f3f3f3;
    border-top: 5px solid #383636;
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
