.screenwrapper
{
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    min-height: 100vh;
    align-items: stretch;
    width: 100%;
    background-color: white;
    position: relative;
}

.screenwrapper .error
{
    font-family: 'Inter',sans-serif;
    font-size: 1rem;
    color: black;
    text-align: center;
    font-weight: 500;
}